<table cellpadding="5">
  <tr> 
    <th>
      UIAA
    </th>
    <th>
      YDS (USA)
    </th>
    <th>
      Franzoesisch
    </th>
  </tr>
<tr>
  <td>
    <%= uiaa_grades[@grade] %>
  </td>
  <td>
    <%= yds_grades[@grade] %>
  </td>
  <td>
    <%= french_grades[@grade] %>
  </td>
</tr>
</table>