<% require_login! %>

<h1>Neues Klettergebiet hinzufuegen</h1>

<div style="float:left">
<%= render :partial => 'form', :locals => {:span_style => "span5", :name_value => "", :location_value => ""} %>
</div>
<div style="float:left" >
  <%= render :partial => "initialized_map", :locals => { show_precise_location: @show_precise_location, gmaps_json: @json } %>
</div>
<div style="clear:both"></div>