<h1>Neues Klettergebiet hinzufuegen</h1>

<div style="float:left">
<%= render :partial => 'form', :locals => {:span_style => "span12", :name_value => @area.name, :location_value => @area.location} %>
</div>

<div style="float:left" >
  <%= gmaps(:map_options => { :auto_zoom => false, :zoom => 15}, "markers" => { "data" => @json }) %>
</div>

<div style="clear:both"></div>