/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 @import "bootstrap";

.navbar-form-desc-txt {
  margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);color:#000000; padding: 3px 15px;
}

body {
  padding-top:24px;
  padding-left:8px;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 0;
}

.decent_looking_text
{
  height: 104px;
  width:420px;
}


#demo-frame > div.demo { padding: 10px !important; }